---
- name: anyenv | remove ~/.anyenv
  file:
    dest:  '{{ anyenv.dir || ~/.anyenv }}'
    state: absent
  when: is_ci

- name: anyenv | fetch anyenv repo
  git:
    repo: https://github.com/riywo/anyenv
    dest: '{{ anyenv.dir }}'
    depth: 1
  when: anyenv.dir

- name: anyenv | create plugins dir
  file:
    dest:  '{{ anyenv.plugins_dir }}'
    state: directory
  when: anyenv.plugins_dir

- name: anyenv | fetch anyenv-update repo
  git:
    repo: https://github.com/znz/anyenv-update.git
    dest: '{{ anyenv.plugins_dir }}/anyenv-update'
  when: anyenv.plugins_dir

- name: anyenv | add profile settings for anyenv
  lineinfile:
    dest: "{{ home_path }}/.profile"
    create: yes
    line: "{{ item }}"
  with_items:
    - 'export PATH="{{ anyenv.dir }}/bin:$PATH"'
    - 'eval "$(anyenv init -)"'
